<!DOCTYPE html>
<html>
<head>

<title>CSV Report Generator</title>

</head>
<body>

<h1>CSV Report Generator</h1>
<h2>JSON</h2>
<form id="form" action="/" method="POST">
<textarea rows="20" cols="50" type="text" name="jsondata"></textarea>
 <button type="submit" >generates CSV</button>
</form>
<h2>CSV</h2>
<textarea rows="20" cols="50" type="text" name="jsondata"><%= file %></textarea>


</body>

</html>

